<div id="container" class="clear">
    <section id="error" class="clear">
        <div class="hgroup">
            <h1>Whoops! Something Just Went Wrong...</h1>
            <h2>404 Error</h2>
        </div>
        <p>The Page You Requested Could Not Be Found</p>
    </section>
</div>
