<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/site.min.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <partial name="Partials/_Navbar" />
    <partial name="Partials/_StatusMessages" />
    <div>
        @RenderBody()
    </div>
    <script src="~/js/vendor.min.js"></script>
    <script src="~/js/site.min.js"></script>
    @if (ViewBag.Page == "AddEvent" || ViewBag.Page == "EditEvent" || ViewBag.Page == "AddUser" || ViewBag.Page == "EditUser")
    {
        <script>
            //Warn user when navigating away from page without saving data
            window.onbeforeunload = function (e) {
                // Cancel the event
                e.preventDefault();
                // Chrome requires returnValue to be set
                e.returnValue = '';
            };

            //Disable warning on submit
            $(document).on("submit", "form", function (event) {
                window.onbeforeunload = null;
            });


        </script>
    }
</body>
</html>
