<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/site.min.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <partial name="Partials/_Navbar" />
    <partial name="Partials/_StatusMessages" />
    <div>
        @RenderBody()
    </div>
    <script src="~/js/vendor.min.js"></script>
    <script src="~/js/site.min.js"></script>
</body>
</html>
