@model UserProfile

    <div class="card-header">
        <h3>@Model.FullName</h3>
    </div>
    <div class="card-body">
        <h6>@Model.Email</h6>
        <h6>
            <span>Userrole:</span>
            <span>@Model.UserRole</span>
        </h6>
    </div>

