@model EventTracker.Models.Event

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateEvent</title>
</head>
<body>
    <h1>
        Add new event
    </h1>
    <form method="post">
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <label asp-for="Description"></label>
        <textarea asp-for="Description"></textarea>
        <label asp-for="Location.City"></label>
        <input asp-for="Location.City" />
        <label asp-for="Location.Province"></label>
        <input asp-for="Location.Province" />
        <label asp-for="WantedAmountOfParticipants"></label>
        <input asp-for="WantedAmountOfParticipants" />
        <input type="submit" name="Add" value="Add" />
    </form>
</body>
</html>
