@model Event

@{
    ViewBag.Title = "Add an event";
}
<h2>
    Add new event
</h2>
<form method="post">
    <partial name="Partials/_EventBasicInputDetails" model="Model" />
    <div>
        <a asp-action="AllUpcomingEvents">Cancel</a>
        <input type="submit" name="Add" value="Add" />
    </div>
</form>

