@model Event

@{
    ViewBag.Title = "Add an event";
    ViewBag.Page = "AddEvent";
}
<form asp-action="AddEventAsync" method="post">
    <partial name="Partials/_EventAddEditDetails" model="Model" />
</form>


