@model Event

@{
    ViewBag.Title = "Add an event";
}
<h2>
    Add new event
</h2>
<form method="post">
    <partial name="Partials/_EventBasicInputDetails" model="Model" />
    <div>
        @for (var i = 0; i < Model.Timeframes.Count; i++)
        {
            <div class="timeframes" id="TimeframesToAdd">
                <label asp-for="Timeframes[i].EventDate"></label>
                <input asp-for="Timeframes[i].EventDate" min="@DateTime.Today" />
                <span asp-validation-for="Timeframes[i].EventDate"></span>
                <label asp-for="Timeframes[i].Starttime"></label>
                <input asp-for="Timeframes[i].Starttime" min="0" max="24" />
                <span asp-validation-for="Timeframes[i].Starttime"></span>
                <label asp-for="Timeframes[i].Endtime"></label>
                <input asp-for="Timeframes[i].Endtime" min="0" max="24" />
                <span asp-validation-for="Timeframes[i].Endtime"></span>
            </div>
        }
    </div>
    <a href="#" id="addTimeframe">Add Timeframe</a>
    <div>
        <a asp-action="AllUpcomingEvents">Cancel</a>
        <input type="submit" name="Add" value="Add" />
    </div>
</form>

