@model IEnumerable<Event>
@{
    ViewBag.Title = "View all upcoming events";
}
<h2>All upcoming events</h2>
<a asp-action="AddEvent">Add new event</a>
<div>
    @foreach(var e in Model)
    {
        <partial name="Partials/_EventBasicDetails" model="e"/>
    }
</div>
