@model Event
@{
    ViewBag.Title = "Cancel an event";
    ViewBag.WithEventActions = false;
}

    <div>
        <partial name="Partials/_EventFullDetails" model="Model" />
        <form method="post" class="float-right">
            @if (Model.IsCancelled)
            {
                <input type="submit" name="UndoCancel" value="Undo Cancellation" class="btn-action-md btn-danger" />
            }
            else
            {
                <input type="submit" name="Cancel" value="Cancel" class="btn-action-md btn-danger" />
            }
        </form>
    </div>
