@model Event
@{
    ViewBag.Title = "Delete an event";
    ViewBag.WithEventActions = false;
}

<div>
    <partial name="Partials/_EventFullDetails" model="Model" />

    <form method="post" class="float-right">
        <input type="submit" name="Delete" value="Delete" class="btn-action-md btn-danger"/>
    </form>
</div>