@model Event
@{
    ViewBag.Title = "Delete an event";
}
<h2>Are you sure you want to delete this?</h2>
<div>
   
    <partial name="Partials/_EventFullDetails" model="Model" />

    <form method="post">
        <a asp-action="AllUpcomingEvents">Back to overview</a>
        <a asp-action="EventDetails" asp-route-id="@Model.Id">Back to details</a>
        <input type="submit" name="Delete" value="Delete" />
    </form>
</div>
