@model EventTracker.Models.Event
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditEvent</title>
</head>
<body>
    <h1>Edit event</h1>
    <form method="post">
        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" />
        </div>
        <div>
            <label asp-for="Description"></label>
            <textarea asp-for="Description"></textarea>
        </div>
        <div>
            <label asp-for="WantedAmountOfParticipants">Required amount of participants</label>
            <input asp-for="WantedAmountOfParticipants" />
        </div>
        <div>
            <label asp-for="Location.City"></label>
            <input asp-for="Location.City" />
            <label asp-for="Location.Province"></label>
            <input asp-for="Location.Province" />
        </div>
        <div>
            <label asp-for="Timeframes"></label>
            @for (var i = 0; i < Model.Timeframes.Count; i++)
            {
                <div>
                    <label asp-for="Timeframes[i].EventDate"></label>
                    <input asp-for="Timeframes[i].EventDate" />
                    <label asp-for="Timeframes[i].Starttime"></label>
                    <input asp-for="Timeframes[i].Starttime" />
                    <label asp-for="Timeframes[i].Endtime"></label>
                    <input asp-for="Timeframes[i].Endtime" />
                </div>
            }
        </div>
          
            <input type="submit" name="Update" value="Update" />
</form>
</body>
</html>
