@model Event
@{
    ViewBag.Title = "Edit an event";
}
<h2>Edit event</h2>
<form method="post">
    <partial name="Partials/_EventBasicInputDetails" model="Model" />
    <div>
        <label asp-for="Timeframes"></label>
        @for (var i = 0; i < Model.Timeframes.Count; i++)
        {
            <div>
                <label asp-for="Timeframes[i].EventDate"></label>
                <input asp-for="Timeframes[i].EventDate" min="@DateTime.Today" />
                <span asp-validation-for="Timeframes[i].EventDate"></span>
                <label asp-for="Timeframes[i].Starttime"></label>
                <input asp-for="Timeframes[i].Starttime" min="0" max="24" />
                <span asp-validation-for="Timeframes[i].Starttime"></span>
                <label asp-for="Timeframes[i].Endtime"></label>
                <input asp-for="Timeframes[i].Endtime" min="0" max="24" />
                <span asp-validation-for="Timeframes[i].Endtime"></span>
            </div>
        }
    </div>

    <div>
        <a asp-action="AllUpcomingEvents">Back to overview</a> 
        <a asp-action="EventDetails" asp-route-id="@Model.Id">Back to details</a>
        <input type="submit" name="Update" value="Update" />
    </div>
</form>
