@model EventTracker.Models.Event
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EventDetails</title>
</head>
<body>
    <h1>This is the event details page</h1>
    <div>
        <p>@Model.Id</p>
        <p>@Model.Name</p>
    </div>
</body>
</html>
