@model IEnumerable<Event>
@{
    ViewBag.Title = "Upcoming events";
}

<div class="col">
    @foreach (var e in Model)
    {
        <div class="jumbotron pt-4 pb-4 col-lg-4 col-md-9 col-sm-10
               @(e.IsCancelled ? "cancelled" : null)
                @(!e.IsCancelled && e.WantedAmountOfParticipants <= e.UserEvents.Count ? "full" : null)">
            <div class="container-fluid overflow-hidden">
                <partial name="Partials/_EventDetails" model="e" />
                <br />
                <partial name="Partials/_Participants" model="e" />
                <br />
                <partial name="Partials/_ActionButtons" model="e" />
                <partial name="Partials/_Modals" model="e" />
            </div>
        </div>
    }
</div>
<div>
    @if (User.IsInRole("Super"))
    {
        <a class="round-button btn-primary text-decoration-none" asp-action="AddEvent"><i class="fa fa-plus fa-3x"></i></a>
    }
</div>
