@model IEnumerable<Event>
@{
    ViewBag.Title = "Upcoming events";
}

    <div class="offset-xl-4 offset-sm-1">
        @foreach (var e in Model)
        {
            <div class="card mb-3 pt-4 pb-4 col-xl-6 col-sm-11">
                <partial name="Partials/_EventDetails" model="e" />
                <partial name="Partials/_DeleteModal" model="e" />
                <partial name="Partials/_CancelModal" model="e" />
            </div>
        }
    </div>
