<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/site.min.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <partial name="Partials/_Navbar" />
    <partial name="Partials/_StatusMessages" />
    <div class="row">
        <div class="jumbotron col-10 offset-1 col-md-4 offset-md-4">
            @RenderBody()
        </div>
    </div>
    <script src="~/js/vendor.min.js"></script>
    <script src="~/js/site.min.js"></script>
</body>
</html>
