<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/vendor.min.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav>
        <h1>Event Tracker</h1>
        <ul>
            <li><a asp-controller="Events" asp-action="AllUpcomingEvents">Upcoming Events</a></li>
            <li><a asp-controller="UserProfiles" asp-action="AllUserProfiles">User Profiles</a></li>
        </ul>
    </nav>
    <div>
        @RenderBody()
    </div>
    <script src="~/js/vendor.min.js"></script>
    <script src="~/js/site.min.js"></script>
</body>
</html>
