<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/site.min.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
        <a class="navbar-brand" asp-controller="Events" asp-action="AllUpcomingEvents">Event Tracker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Upcoming Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">My Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Change Password</a>
                </li>
                <li>
                    <hr class="dropdown-divider" />
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">User accounts</a>
                </li>
                <li>
                    <hr class="dropdown-divider" />
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>
    <script src="~/js/vendor.min.js"></script>
    <script src="~/js/site.min.js"></script>
</body>
</html>
