@model ChangePasswordViewModel
@{
    ViewBag.Title = "Change password";
}


<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="OldPassword"></label>
        <div class="input-group">
            <input asp-for="OldPassword" class="form-control password" />
            <div class="input-group-append">
                <span class="btn btn-outline-secondary toggle-password">
                    <i class="fa fa-eye"></i>
                </span>
            </div>
        </div>
        <span asp-validation-for="OldPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword"></label>
        <div class="input-group">
            <input asp-for="NewPassword" class="form-control password" />
            <div class="input-group-append">
                <span class="btn btn-outline-secondary toggle-password">
                    <i class="fa fa-eye"></i>
                </span>
            </div>
        </div>
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <div class="input-group">
            <input asp-for="ConfirmPassword" class="form-control password" />
            <div class="input-group-append">
                <span class="btn btn-outline-secondary toggle-password">
                    <i class="fa fa-eye"></i>
                </span>
            </div>
        </div>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary float-right">Update password</button>
</form>
