@model ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}


<h4>Please enter your email</h4>
<h6>A link to reset your password will be sent to you</h6>
<br />
<form asp-action="ForgotPassword" method="post">
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email"></span>
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <input type="submit" value="Submit" name="Submit" class="btn btn-primary float-right" />
    </div>
</form>
