@model Event

<div>
    @if (Model.IsCancelled)
    {
        <form method="post">
            <input asp-route-id="@Model.Id" type="submit" name="UndoCancellation" value="Undo Cancellation" class="actionButtonLarge btn-secondary btn" />
        </form>
    }
    else
    {
        <div class="btn-group">
            <a role="button" href="#" class="actionButtonSmall btn-outline-primary">Going?</a>
            <form method="post">
                <input asp-route-id="@Model.Id" type="submit" name="CancelEvent" value="Cancel" class="actionButtonSmall btn-secondary" />
            </form>
            <a role="button" asp-action="EditEvent" asp-route-id="@Model.Id" class="actionButtonSmall btn-warning">Edit</a>
            <a role="button" asp-action="DeleteEvent" asp-route-id="@Model.Id" class="actionButtonSmall btn-danger">Delete</a>
        </div>
    }
</div>