@model Event

    <section>
        <partial name="Partials/_EventBasicDetails" model="@Model" />
        <div>
            <h5>Participants:</h5>
            <div>
                @if (Model.Participants.Count == 0)
                {
                    <div>There are currently no participants for this event</div>
                }
                else
                {
                    <table class="table-borderless">
                        @foreach (var participant in @Model.Participants)
                        {
                            <tr>
                                <td>@participant.Name</td>
                                <td>
                                    <a href="#"><i class="fa fa-remove"></i></a>
                                </td>
                            </tr>
                        }
                    </table>
                   
                }
            </div>
        </div>
        <partial name="Partials/_EventActions" model="@Model" />
    </section>