@model Event

<div class="col-10 offset-1">
    <div class="jumbotron @(Model.IsCancelled ? "cancelled" : null)
     @(!Model.IsCancelled && Model.WantedAmountOfParticipants <= Model.Participants.Count ? "full" : null)">
        <div class="container-fluid">
            <partial name="Partials/_EventBasicDetails" />
            @if (ViewBag.Page == "EventDetails")
            {
                <partial name="Partials/_Participants" model="Model" />
            }
            @if (ViewBag.Page == "EventDetails" || ViewBag.Page == "UpcomingEvents")
            {
                 <partial name="Partials/_ActionButtons" model="Model" />
            }

        </div>
    </div>
    <div class="float-right">
        <a role="button" class="btn-action-md btn-dark" asp-action="AllUpcomingEvents">Event overview</a>
    </div>
</div>