@model Event


<div>
    <h4>Participants:</h4>
    <div>
        @if (Model.Participants.Count == 0)
        {
            <h5>There are currently no participants for this event</h5>
        }
        else
        {
            <ul class="list-unstyled">
                @foreach (var participant in @Model.Participants)
                {
                <li class="participantRow">
                    <label asp-for="@participant.Name">@participant.Name</label>
                    @if (ViewBag.Page == "EditEvent")
                    {
                        <button class="d-inline btn btn-danger" type="button"><i class="fa fa-remove"></i></button>
                    }

                </li>
                }
            </ul>
        }
    </div>
</div>
