@model Event

<fieldset id="TimeFramesToAdd">
    <legend>Event Timeframes</legend>
    @for (var i = 0; i < Model.Timeframes.Count; i++)
    {
        <div class="timeframes form-row align-items-center" id="Timeframe_@i">

            <div class="col-sm-auto col-md-4 col-lg-2">
                <label asp-for="Timeframes[i].EventDate"></label>
                <input class="form-control" asp-for="Timeframes[i].EventDate" min="@DateTime.Today" />
                <span asp-validation-for="Timeframes[i].EventDate"></span>
            </div>
            <div class="col-sm-auto col-md-3 col-lg-2">
                <label asp-for="Timeframes[i].Starttime">Starting hour</label>
                <input class="form-control" asp-for="Timeframes[i].Starttime" min="0" max="24" />
                <span asp-validation-for="Timeframes[i].Starttime"></span>
            </div>
            <div class="col-sm-auto col-md-3 col-lg-2">
                <label asp-for="Timeframes[i].Endtime">Ending hour</label>
                <input class="form-control" asp-for="Timeframes[i].Endtime" min="0" max="24" />
                <span asp-validation-for="Timeframes[i].Endtime"></span>
            </div>
            <div class="col-sm-auto col-md-1">
                <button type="button" class="deleteTimeframeButton btn btn-danger form-control" data-id="@i"><i class="fa fa-remove"></i></button>
            </div>
        </div>
    }
</fieldset>