@model UserProfile

<section>
    <h1>@Model.FirstName @Model.LastName</h1>
    <div>@Model.Email</div>
    <div>
        <label>UserRole:</label>
        <span>@Model.UserRole</span>
    </div>
</section>