@model UserProfile

    <div class="card-header">
        <h3>@Model.FirstName @Model.LastName</h3>
    </div>
    <div class="card-body">
        <h5>@Model.Email</h5>
        <h5>
            <span>Userrole:</span>
            <span>@Model.UserRole</span>
        </h5>
    </div>

