.alert-dismissible {
    position: fixed;
    width: 95%;
    bottom: 5px;
    right: 10px;
    border-radius: 1px;
    padding: 10px;
    background-color: lightgreen;
    z-index: 1;
}

@media (min-width: 48em) {
    .alert-dismissible {
        width: 40%;
        bottom: 20px;
        right: 20px;
        border-radius: 10px;
        padding: 20px;
    }
}

@media (min-width: 76em) {
    .alert-dismissible {
        width: 20%;
        bottom: 20px;
        right: 20px;
        border-radius: 10px;
        padding: 20px;
    }
}
