.btn-undoCancel {
    @extend .btn;
    width: 200px;
}

.btn-action-sm {
    @extend .btn;
    width: 120px;
    padding-left: 0px;
    padding-right: 0px;
    display: inline-block;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

@media (min-width: 64em) {
    .btn-action-sm {
        width: 130px;
    }
}

.btn-action-md {
    @extend .btn;
    width: 150px;
    margin-right: 5px;
}

.btn-delete-sm {
    @extend .btn;
    width: 20px;
    height: 20px;
    position: relative;

    i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
    }
}

.btn-delete-md {
    @extend .btn;
}

@media (min-width: 64em) {
    .btn-delete-md {
        width: 45px;
        height: 45px;
    }
}