.cancelled {
    background-color: #cc0000;
}

.full {
    background-color: #6AA84F;
}

#addTimeframe {
    margin-top: 20px;
}

.participantName {
    margin-right: 10px;
}

.timeframes{
    border: 1px solid grey;
}

@media (min-width: 48em)
{
    .timeframes{
        border: 0;
    }
}