.btn-undoCancel {
    @extend .btn;
    width: 200px;
}

.btn-action-sm {
    @extend .btn;
    width: 50px;
    padding-left: 0px;
    padding-right:0px;
    display: inline-block;
    float: left;
    margin-right: 10px;
}

.btn-action-md {
    @extend .btn;
    width: 120px;
    margin-right: 5px;
}

@media (min-width: 48em) {
    .btn-action-sm {
        width: 60px;
    }

    @media (min-width: 75em) {
        .btn-action-sm {
            width: 70px;
            padding-left:10px;
            padding-right: 10px;
        }
    }

    .btn-action-md {
        width: 150px;
        margin-right: 10px;
    }
}

.cancelled {
    background-color: #cc0000;
}

.full {
    background-color: #6AA84F;
}

.round-button {
    display: flex;
    width: 50px;
    height: 50px;
    line-height: 20px;
    border: 1px solid #f5f5f5;
    border-radius: 50%;
    text-decoration: none;
    box-shadow: 0 0 3px gray;
    font-size: 10px;
    font-weight: bold;
    align-items: center;
    justify-content: space-between;
    float: right;
    position: fixed;
    bottom: 50px;
    right: 50px;

    i {
        margin: auto;
    }
}

@media (min-width: 48em) {
    .round-button {
        width: 100px;
        height: 100px;
        line-height: 50px;
        border: 2px solid #f5f5f5;
        font-size: 20px;
    }
}

@media (min-width: 64em) {
    .btn-delete-md {
        width: 50px;
        height: 50px;
    }
}

.btn-delete-sm {
    width: 20px;
    height: 20px;
    position: relative;
    i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
    }
}

#addTimeframe {
    margin-top: 20px;
}

.participantName{
    margin-right: 10px;
}
