//Position body under fixed navbar
body {
    padding-top: 70px;
    padding-bottom: 50px;
    background-color: #393e46;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

//Remove font-styling from anchors
a, a:hover {
    color: black;
}

.card .modal-content{
    background-color: #e9ecef;
}

.card-header {
    background-color: #FDF9F9;
}

#loginlink {
    color: #6F93B7;
}

.navbar-dark {
    background-color: #010101;
}