.cancelled {
    background-color: #B22222;
}

.full {
    background-color: #90EE90;
}

.participantName {
    margin-right: 10px;
}

.subheader {
    color: lightslategrey;
    border-bottom: 1px solid lightslategrey;
    font: 12px;
}

.icon {
    font-size: 1em;
    display: block;
    position: relative;
    width: 3em;
    height: 3.2em;
    background-color: #fff;
    border-radius: 0.6em;
    overflow: hidden;

    * {
        display: block;
        width: 100%;
        font-size: 1em;
        font-weight: bold;
        font-style: normal;
        text-align: center;
    }

    strong {
        position: absolute;
        top: 0;
        color: #fff;
        background-color: #fd9f1b;
        box-shadow: 0 2px 0 #fd9f1b;
    }

    span {
        font-size: 1em;
        letter-spacing: -0.08em;
        padding-top: 50%;
        color: #2f2f2f;
    }
}

.event-card-header {
    display: inline-flex;
    align-items: center;
}