.cancelled {
    background-color: #B22222;
}

.full {
    background-color: #90EE90;
}

.participantName {
    margin-right: 10px;
}

.subheader {
    color: lightslategrey;
    border-bottom: 1px solid lightslategrey;
    font: 12px;
}