$validationRed: #cc0000;

.field-validation-error {
    color: $validationRed;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid $validationRed;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: $validationRed;
    ul {
        list-style: none;
        padding-left: 0;
    }
}

.validation-summary-valid {
    display: none;
}
