@model UserProfile

@{
    ViewBag.Title = "Add a user";
    ViewBag.Page = "AddUser";
}


<form method="post">
    <div class="jumbotron col-8 offset-sm-2">
        <div class="container">
            <h1>Add User</h1>
            <partial name="Partials/_UserProfileAddEditDetails" model="Model" />
            <partial name="Partials/_ActionButtons" model="Model" />
        </div>
    </div>
</form>





