@model IEnumerable<UserProfile>
@{
    ViewBag.Title = "Userprofiles";
}

<h2>This is the Userprofiles overview </h2>
<a asp-action="AddUserProfile">Add New User</a>


<div>
    @foreach(var userProfile in Model)
    {
        <partial name="Partials/_UserProfileDetails" model="@userProfile" />
        <div>
            <a asp-action="EditUserProfile" asp-route-id="@userProfile.Id">Edit</a>
            <a asp-action="DeleteUserProfile" asp-route-id="@userProfile.Id">Delete</a>
        </div>
    }
</div>

