@model IEnumerable<UserProfile>
@{
    ViewBag.Title = "Userprofiles";
    ViewBag.Page = "AllUsers";
}


    <div class="col">

        @foreach (var userProfile in Model)
        {
            <div class="jumbotron  col-lg-2 col-md-6 col-sm-10">
                <partial name="Partials/_UserProfileDetails" model="@userProfile" />
                <partial name="Partials/_ActionButtons" model="@userProfile" />
            </div>
        }
        <a class="round-button btn-primary text-decoration-none" asp-controller="UserProfiles" asp-action="AddUserProfile">
            <i class="fa fa-plus fa-3x"></i>
        </a>
    </div>

