@model UserProfile
@{
    ViewBag.Title = "Delete Userprofile";
    ViewBag.Page = "DeleteUser";
}

<div class="jumbotron col-8 offset-sm-2">
    <div class="container">
        <h1>Delete User</h1>
        <partial name="Partials/_UserProfileDetails" model="Model" />
        <partial name="Partials/_ActionButtons" model="Model" />
    </div>
</div>
