@model UserProfile
@{
    ViewBag.Title = "Delete Userprofile";
}

<h1>Delete Userprofile</h1>
<div>
    <partial name="Partials/_UserProfileDetails" model="@Model" />
    <div>
        <a asp-action="AllUserProfiles">Cancel</a>
        <form method="post">
            <input type="submit" name="Delete" value="Delete" />
        </form>
    </div>
</div>

