@model UserProfileViewModel
@{
    ViewBag.Title = "Delete Userprofile";
    ViewBag.Page = "DeleteUser";
}

<div class="jumbotron col-8 offset-sm-2">
    <div class="container">
        <h1>Delete User</h1>
        <div>
            <h3>@Model.FirstName @Model.LastName</h3>
            <h5>@Model.Email</h5>
            <h5>
                <span>Userrole:</span>
                <span>@Model.UserRole</span>
            </h5>
        </div>
        <div class="btn-group">
            <a class="btn-action-sm btn-outline-secondary" asp-action="AllUserProfiles">Cancel</a>
            <form method="post">
                <input class="btn-action-sm btn-danger" type="submit" name="DeleteUser" value="Delete" />
            </form>
        </div>
    </div>
</div>
