@model UserProfileViewModel
@{
    ViewBag.Title = "Edit User";
    ViewBag.Page = "EditUser";
}

    <form method="post">
        <div class="jumbotron pt-2 col-xl-8 offset-xl-2 col-md-10 offset-md-1 col-sm-10 offset-sm-1">
            <div class="container pb-4">
                <h1>Edit User</h1>
                <div>
                    <div class="form-group">
                        <label asp-for="FirstName"></label>
                        <input class="form-control" asp-for="FirstName" />
                        <span asp-validation-for="FirstName"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName"></label>
                        <input class="form-control" asp-for="LastName" />
                        <span asp-validation-for="LastName"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input class="form-control" asp-for="Email" />
                        <span asp-validation-for="Email"></span>
                        @Html.ValidationMessage("InvalidEmail")
                    </div>
                    <div class="form-group">
                        <label asp-for="UserRole"></label>
                        <select class="form-control" asp-for="UserRole" asp-items="Html.GetEnumSelectList<UserRole>()"></select>
                        <span asp-validation-for="UserRole"></span>
                    </div>
                    <div asp-validation-summary="ModelOnly"></div>
                </div>
                <div class="btn-group float-sm-right mt-sm-4">
                    <a class="btn-action-sm btn-outline-secondary" asp-action="AllUserProfiles">Cancel</a>
                    <input class="btn-action-sm btn-warning" type="submit" name="EditUser" value="Edit" />
                </div>
            </div>
        </div>
    </form>