@model ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}


<h3>Please enter your email</h3>
<h6>A link to reset your password will be sent to you</h6>
<br />
<form asp-action="ForgotPassword" method="post">

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <button type="submit" class="btn btn-primary float-lg-right">Submit</button>
</form>
