<nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <a class="navbar-brand" asp-controller="Events" asp-action="UpcomingEvents">Event Tracker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Events
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-controller="Events" asp-action="UpcomingEvents">Upcoming Events</a>
                        <a class="dropdown-item" asp-controller="Events" asp-action="MyEvents">My Events</a>
                        @if (User.IsInRole("Super"))
                        {
                            <a class="dropdown-item" asp-controller="Events" asp-action="AddEvent">Add Event</a>
                        }
                    </div>
                </li>
                @if (User.IsInRole(UserRole.Admin.ToString()))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Users
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-controller="UserProfiles" asp-action="AllUserProfiles">All users</a>
                            <a class="dropdown-item" asp-controller="UserProfiles" asp-action="AddUserProfile">Add user</a>
                        </div>
                    </li>
                }

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        <i class="fa fa-user-circle"></i>
                        @User.Identity.Name
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-controller="Account" asp-action="ChangePassword">Change Password</a>
                        <a class="dropdown-item" asp-controller="Account" asp-action="Logout">Logout</a>
                    </div>
                </li>
            }
            else
            {
                <li>
                    <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
                </li>
            }
        </ul>
    </div>
</nav>